<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather</title>

    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    
    <footer class="footer-distributed" style="background-color:#1F3F49 ;">
    
                <div class="footer-left">
    
                    <h3>Kushal<span>Sankhe</span></h3>
    
                    <p class="footer-links">
                        <a href="/" class="link-1">Home</a>

                        <a href="/about">About</a>
                        
                        <a href="/help">Faq</a>
                    </p>
    
                    <p class="footer-company-name">Hornet-KOPS© 2022</p>
                </div>
    
                <div class="footer-center">
    
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p><span>Sai Nagar</span>Palghar, Maharashtra , India</p>
                    </div>
    
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>8668903373</p>
                    </div>
    
                    <div>
                        <i class="fa fa-envelope"></i>
                        <p><a href="mailto:kushalsanke8087643167@gmail.com">kushalsanke8087643167@gmail.com</a></p>
                    </div>
    
                </div>
    
                <div class="footer-right">
    
                    <p class="footer-company-about">
                        <span>About the company</span>
                        We try to deliver the apps which will make your life easy.
                    </p>
    
                    <div class="footer-icons">
    
                        <a href="https://www.facebook.com/search/top/?q=Kushal%20Sankhe" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="https://twitter.com/kushal_sankhe" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/_.kushal__sankhe._/" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="https://github.com/KushalSankhe?tab=repositories" target="_blank"><i class="fa fa-github"></i></a>
    
                    </div>
    
                </div>
    
            </footer>
</body>

</html>